body,
html {
  font-family: 'Roboto', sans-serif;
  background: #6f8fcb53;
  height: 100%;
}

nav {
  height: 100%; 
  width: 25%; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0; 
  background-color: #232323; 
  transition: 0.5s ease; 
  overflow-x: hidden; 
  padding-top: 20px; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  padding-left: 0; 
}

nav ul {
  padding-left: 0; 
}

nav li {
  list-style: none; 
}

.logo {
  background-image: url('img/suffer.jpg');
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}

:root {
  text-size-adjust: 100%;
}

.active {
  color: pink;
}
