body,
html {
  font-family: 'Roboto', sans-serif;
  background: #6f8fcb53;
  height: 100%;
}

.sideNavContainer {
  top: 10px; ; 
  left: 10px; ; 
  width: 25%; 
  transition: width 0.5s ease; 
  display: flex; 
  align-items: center; 
  flex-direction: row; 
  align-items: flex-start; 
  margin-bottom: 20px; 
}


nav {
  width: 100%; 
}

nav ul {
  padding-left: 0; 
}

nav li {
  list-style: none; 
}

.sideNavContainer button {
  margin-top: 16px; 
  margin-left: 15px; 
}

.logo {
  background-image: url('img/suffer.jpg');
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}

:root {
  text-size-adjust: 100%;
}

.active {
  color: pink;
}
